language: python
python:
    - "2.7"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    directories:
        - "~/.platformio"

env:
    - PLATFORMIO_CI_SRC=gsm_start.ino

install:
    - pip install -U platformio
    
    #download the FONA Lib
    - wget https://github.com/adafruit/Adafruit_FONA/archive/master.zip -O /tmp/Adafruit_FONA.zip
    - unzip /tmp/Adafruit_FONA.zip -d /tmp/
    
    #download the Watchdog Lib
    - wget https://github.com/adafruit/Adafruit_SleepyDog/archive/master.zip -O /tmp/Adafruit_SleepyDog.zip
    - unzip /tmp/Adafruit_SleepyDog.zip -d /tmp/
    
    #download the MQTT Lib
    - wget https://github.com/adafruit/Adafruit_MQTT_Library/archive/master.zip -O /tmp/Adafruit_MQTT_Library.zip
    - unzip /tmp/Adafruit_MQTT_Library.zip -d /tmp/
script:
    - platformio ci --lib="/tmp/Adafruit_FONA-master" --lib="/tmp/Adafruit_MQTT_Library-master" --lib="/tmp/Adafruit_SleepyDog-master" --board=teensy20
